{% extends 'base.html.twig' %}
{% block title %}Dashboard - Evolvify{% endblock %}

{% block content %}
<div class="container">
          <div class="page-inner">
            
           
              <div class="col-md-20">
                <div class="card card-round">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">List Entretiens</div>
                      <div class="card-tools">
                        <div class="dropdown">
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Titre</th>
                             <th scope="col" class="text-end" style="min-width: 250px;">Nom de Candidate</th>
                            <th scope="col" class="text-end" style="min-width: 250px;">Prenom de Candidate</th>
                            <th scope="col" class="text-end" style="min-width: 250px;">Date de Postulation</th>
                            <th scope="col" class="text-end" >Status</th>
                            <th scope="col" class="text-end">Actions</th>
                            
                          </tr>
                        </thead>
                       
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

{% endblock %}
