<div class="sidebar" data-background-color="dark">
	<div class="sidebar-logo">
		<div class="logo-header" data-background-color="dark">
			<a href="{{ path('app_home') }}" class="logo">
				<img src="{{ asset('assets/img/logo1.png') }}" alt="navbar brand" class="navbar-brand" height="50"/>
			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
	</div>

	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
			{% if app.user.role == 'CHEF_PROJET' or app.user.role == 'RESPONSABLE_RH' %}
				<li class="nav-item active">
					<a href="{{ path('app_dashboard') }}">
						<i class="fas fa-home"></i>
						<p>Dashboard</p>
					</a>
				</li>
			{% endif %}

				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Components</h4>
				</li>

			{% if app.user.role == 'RESPONSABLE_RH' %}
				<li class="nav-item">
					<a href="{{ path('user_index') }}">
                    <i class="fa-solid fa-users"></i>
					<p>Users</p>
					</a>
				</li>
			{% endif %}


			</ul>
		</div>
	</div>
</div>
