<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">Nouvel</span>
                    <span class="fw-light"> Employé</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Veuillez remplir tous les champs du formulaire</p>
                <form id="addEmployeeForm">
                    <div class="row">
                        <div class="col-md-6 pe-0">
                            <div class="form-group form-group-default">
                                <label>Prénom</label>
                                <input id="addFirstname" type="text" class="form-control" placeholder="Prénom"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Nom</label>
                                <input id="addLastname" type="text" class="form-control" placeholder="Nom"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 pe-0">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input id="addEmail" type="email" class="form-control" placeholder="email@exemple.com"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Rôle</label>
                                <select id="addRole" class="form-control">
                                    <option value="RESPONSABLE">Responsable</option>
                                    <option value="RH">RH</option>
                                    <option value="CHEF_PROJET">Chef de projet</option>
                                    <option value="EMPLOYEE">Employé</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 pe-0">
                            <div class="form-group form-group-default">
                                <label>Date de naissance</label>
                                <input id="addBirthdayDate" type="date" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Genre</label>
                                <select id="addGender" class="form-control">
                                    <option value="HOMME">Homme</option>
                                    <option value="FEMME">Femme</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" id="addRowButton" class="btn btn-primary">Ajouter</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
